{% extends 'index.html' %}
{% load static %}
{% block title %}About{% endblock %}
{% block content %}
<h2>About</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, placeat temporibus commodi impedit iste beatae recusandae dolore culpa nisi aut. Quasi excepturi voluptate dicta unde. In, voluptas voluptatibus porro earum dolorum amet repellat deleniti! Delectus vel quasi soluta perferendis modi laudantium incidunt in? Dolore quod, nobis distinctio obcaecati neque dolores.</p>
{% endblock %}