{% extends 'index.html' %}
{% load static %}
{% block title %}Rahul{% endblock %}

{% block content %}
<h2 class="page-description text-center">Image Gallery</h2>

<div class="tz-gallery">

    <div class="row">
        {% for i in all_obj %}
        <div class="col-sm-6 col-md-4 mt-4">
            <a class="lightbox" href="{{ i.image.url }}" target="_blank">
                <img src="{{i.image.url}}" alt="Park">
            </a>
        </div>
        {% endfor %}
    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
<script>
    baguetteBox.run('.tz-gallery');
</script>
{% endblock %}